
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách đơn hàng</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()">
                                <i class="fas fa-print"></i> In dữ liệu
                            </a>
                        </div>

                    </div>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>ID đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT</th>
                            <th>Địa chỉ</th>
                            <th>Tổng tiền</th>
                            <th>Tình trạng</th>
                            <th>Thời gian đặt</th>
                            <th>Tính năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>MD0837</td>
                            <td>Nguyễn Hoài Tín</td>
                            <td>0354925338</td>
                            <td>KP Đông Hòa, Tx. Dĩ An, Bình Dương</td>
                            <td>312.000 đ</td>
                            <td><span class="badge bg-success">Hoàn thành</span></td>
                            <td>02/02/2022</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>MD8265</td>
                            <td>Nguyễn Thị Ngọc Cẩm</td>
                            <td>0939703384</td>
                            <td>Xuân Hiệp, Trà Ôn, Vĩnh Long</td>
                            <td>61.000 đ</td>
                            <td><span class="badge bg-success">Hoàn thành</span></td>
                            <td>20/07/2022</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Xem"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>MT9835</td>
                            <td>Đặng Hoàng Phúc</td>
                            <td>0896172482</td>
                            <td>KP 6, Linh Trung, Thủ Đức, Tp. HCM</td>
                            <td>435.000 đ</td>
                            <td><span class="badge bg-success">Hoàn thành</span></td>
                            <td>15/07/2022</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Xem"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>ER3835</td>
                            <td>Nguyễn Thị Mỹ Yến</td>
                            <td>0334343917</td>
                            <td>Cá Rô, Hòa Bình, Bạc Liêu</td>
                            <td>37.000 đ</td>
                            <td><span class="badge bg-info">Chờ thanh toán</span></td>
                            <td>05/01/2021</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Xem"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>AL3947</td>
                            <td>Phạm Thị Ngọc</td>
                            <td>0354923174</td>
                            <td>Đức Huệ, Đức Hòa, Long An</td>
                            <td>19.770.000 đ</td>
                            <td><span class="badge bg-warning">Đang giao hàng</span></td>
                            <td>20/11/2021</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Xem"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <td>QY8723</td>
                            <td>Ngô Thái An</td>
                            <td>0735626128</td>
                            <td>Phú Quới, Tam Bình, Đồng Tháp</td>
                            <td>180.000 đ</td>
                            <td><span class="badge bg-danger">Đã hủy</span></td>
                            <td>27/12/2021</td>

                            <td>
                                <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i class="fas fa-trash-alt"></i> </button>
                                <button class="btn btn-primary btn-sm edit" type="button" title="Xem"><i class="fas fa-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</main>

